<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
    <channel>
        <title>Newest Sublime Text Packages</title>
        <description>The 25 newest additions to the default Package Control channel</description>
        <language>en-us</language>
        <copyright>Copyright {{year}}, Will Bond</copyright>
        <link>https://packagecontrol.io</link>
        {{#each packages}}
            <item>
                <title>{{name}}</title>
                <author>{{join authors ", "}}</author>
                <description>{{description}}</description>
                <pubDate>{{date_format first_seen "%F %T"}}</pubDate>
                <link>https://packagecontrol.io{{url "package" name=name}}</link>
                <guid>{{md5}}</guid>
            </item> 
        {{/each}}
    </channel>
</rss>
