{{title "Trending Packages"}}

<a class="context" href="{{url "browse"}}">Browse</a>
<h1>Trending</h1>

<div class="results">
    <ul class="packages results">
        {{#each packages}}
            <li class="package">
                <h3><a href="{{url "package" name=name}}">{{name}}</a></h3>

                {{>package_author}}
                {{>package_compat}}
                <span class="meta">
                    {{>package_missing_deprecated}}
                    {{>package_new}}
                    {{>package_top}}
                    {{>package_installs}}
                </span>
                <div class="description">{{description}}</div>
            </li>
        {{/each}}
    </ul>
    {{>pagination}}
</div>
